/*
SMITHIES IN CS TECH PAGE
HOME STYLING
*/

/**Typewriter efect from https://css-tricks.com/snippets/css/typewriter-effect/ **/
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #FFBC42; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.75s steps(40, end),
      blink-caret .75s step-end infinite;
    font-size: 50px !important;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFBC42; }
  }

  .typewriter-container{
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .homepage-layover-container{
    position: relative; 
    text-align: center;
  }

  .homepage-font{
    font-family:'Courier New', Courier, monospace;
  }

  .homepage-club-info-question{
    text-align: center; 
    font-size: 8vh; 
    color: white;
  }

  .homepage-resources-container{
    text-align: center; 
    font-size: 20px; 
    color: white;  
  }

  .resource-img{
    color: white; 
    width: 200px;
    height: 200px;
    opacity: 100%;
    margin: 20px;
  }

  .contact-img{
    color: #870058; 
    width: 10%;
    height: 10%;
    opacity: 92%;
  }

  .contact-us{
    border-top: 5px solid #870058;
    border-bottom: 5px solid #870058;
    color: #ffffff; 
    text-align: center;
    background-color: #870058;
    opacity: 92%;
  }

  .split-half{
    flex: 1;
    padding: 1rem;
  }