#fulfill-major-tool {
    margin: 5%;
}

#title {
    font-size: 2em;
}
#blurb {
    width: 90%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.flex-item {
    flex-basis: 45%;
}
.flex-right {
    border-left: 1px solid black;
    margin-left: 5%;
    padding-left: 5%;
}

.table {
    margin-top: 2em;
}

#typeahead-course-search {
    width: 70%;
}